body {
    background-color: #252525;
}

.header{
    position:absolute;z-index:1;width: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.80) 0%, rgba(0, 0, 0, 0.00) 100%);
    backdrop-filter: blur(2px);
}


.nav-item{
    padding-right: 30px;
}

.nav-link{
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    
    
}

.hero-section{
}

.hero-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-shadow: 0px 0px 15px black;
}

.hero-img{
    width: 100%;
    height: 100vh;
    object-fit: cover;
    
}

.footer{

}

.spons{
    width: 100%;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 100px;
}

.sponsorer{
    width:  13.85%;
    height: 67px;
}